.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    border-top: 1px solid rgb(124, 124, 124);
}

@media (max-width: 640px) {
    .info {
        flex-direction: column;
        align-items: flex-start;
    }
}

.info p, .info span {
    color: white;
}

.info span {
    font-weight: 100;
    font-size: 1.2rem;
}

@media (max-width: 640px) {
    .info span {
        display: inline-block;
        font-size: 1rem;
    }

    .info p {
        width: 90%;
        margin: auto;
    }
}