.plot {
    width: 95%;
    margin: 5px auto;
    background-color: #000;
    padding: 15px 15px;
}

.plot p {
    color: white;
}

.text {
    padding-top: 5px;
    font-weight: 100;
}

@media (max-width: 768px) {
    .plot {
        width: 98%;
        padding: 5px 5px;
    }

    .plot p {
        font-size: .85rem;
    }
}