.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 318px;
    background-color: #1f1f1f;
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.13);
}

.source_rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.source_rating p {
    padding: 10px 0;
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
}

.image {
    border: none !important;
    box-shadow: none !important;
    margin: 0 3px;
    padding-top: 6px;
    width: 98px;
}